body{
margin:0;
font-family:'Segoe UI',sans-serif;
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
background:#0f172a;
}

.title{
color:#38bdf8;
margin-bottom:25px;
letter-spacing:1px;
}

.calculator{
background:#1e293b;
padding:25px;
border-radius:20px;
box-shadow:0 0 25px rgba(0,0,0,0.6);
width:300px;
}

#display{
width:100%;
height:55px;
font-size:24px;
margin-bottom:20px;
text-align:right;
padding:10px;
border:none;
border-radius:10px;
background:#0f172a;
color:#38bdf8;
}

.buttons{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:12px;
}

button{
padding:16px;
font-size:18px;
border:none;
border-radius:10px;
cursor:pointer;
background:#334155;
color:white;
transition:0.3s;
}

button:hover{
background:#475569;
transform:scale(1.05);
}

.operator{
background:#6366f1;
color:white;
}

.operator:hover{
background:#4f46e5;
}

.equal{
background:#22c55e;
color:white;
}

.equal:hover{
background:#16a34a;
}

.zero{
grid-column:span 2;
}
